<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>House Price Predictor</h1>
    <p class="main_para">Predict the price of your House based on the Sq.Feet.</p>
    <p class="model">Prediction Model: v1</p>

    <div class="inpu">
        <input type="number" id="area" placeholder="Enter Area in Sqft">
        <button onclick="predictPrice()">Predict</button>
    </div>

    <h2 id="result"></h2>
    
    <script src="/static/script.js"></script>
</body>
</html>
<footer>
    <p>Prediction Model Trained and Developed by Kranthi Aravelli</p>
    <p>Model under surveilance. We are improving</p>
</footer>